<a href="https://colab.research.google.com/github/Ankit23232/AI/blob/main/Workshop3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataframe = pd.read_csv('/content/drive/MyDrive/Datasets-20241201T051220Z-001/Datasets/Titanic-Dataset.csv')
dataframe.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
fare = dataframe['Fare']
fare.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [ ]:
class_age = dataframe[['Pclass','Age']]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
survived_gender = dataframe[['Survived', 'Sex']]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [ ]:
fare_gt_100 = dataframe[dataframe['Fare']>100]['Fare']
fare_gt_100.head()

27     263.0000
31     146.5208
88     263.0000
118    247.5208
195    146.5208
Name: Fare, dtype: float64

In [ ]:
first_class = dataframe[dataframe['Pclass'] == 1]['Pclass']
first_class.head()

1     1
3     1
6     1
11    1
23    1
Name: Pclass, dtype: int64

In [ ]:
female_under_18 = dataframe[(dataframe['Sex'] == 'female') & (dataframe['Age'] < 18)][['Age','Sex']]
female_under_18.head(5)

     Age     Sex
9   14.0  female
10   4.0  female
14  14.0  female
22  15.0  female
24   8.0  female

In [ ]:
embarked_C_or_S = dataframe[(dataframe['Embarked'] == 'C') | (dataframe['Embarked'] == 'S')][['Embarked']]
embarked_C_or_S.head(5)

  Embarked
0        S
1        C
2        S
3        S
4        S

In [ ]:
First_Second_Class = dataframe[dataframe['Pclass'].isin([1,2])]
print(First_Second_Class.head(5))

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [ ]:
dataframe = pd.DataFrame(dataframe)
median_age = dataframe['Age'].median()
dataframe ['Age'] = dataframe['Age'].fillna(median_age)
dataframe ['fare_per_year'] = dataframe['Fare'] / dataframe['Age']
dataframe['fare_per_year'] = dataframe['fare_per_year'].fillna(0)
dataframe.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

In [ ]:
high_fare_age = dataframe[dataframe['fare_per_year']>5]
print(high_fare_age.head(5))

    PassengerId  Survived  Pclass  \
7             8         0       3
16           17         0       3
27           28         0       1
31           32         1       1
43           44         1       2

                                              Name     Sex   Age  SibSp  \
7                   Palsson, Master. Gosta Leonard    male   2.0      3
16                            Rice, Master. Eugene    male   2.0      4
27                  Fortune, Mr. Charles Alexander    male  19.0      3
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.0      1
43        Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1

    Parch         Ticket      Fare        Cabin Embarked  fare_per_year
7       1         349909   21.0750          NaN        S      10.537500
16      1         382652   29.1250          NaN        Q      14.562500
27      2          19950  263.0000  C23 C25 C27        S      13.842105
31      0       PC 17569  146.5208          B78        C       5.232886
43      2  SC/Paris 2123   41.5792          NaN        C      13.859733

In [ ]:
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
print(high_fare_age_srt.head(5))

     PassengerId  Survived  Pclass                             Name     Sex  \
305          306         1       1   Allison, Master. Hudson Trevor    male
297          298         0       1     Allison, Miss. Helen Loraine  female
386          387         0       3  Goodwin, Master. Sidney Leonard    male
164          165         0       3     Panula, Master. Eino Viljami    male
183          184         1       2        Becker, Master. Richard F    male

      Age  SibSp  Parch   Ticket      Fare    Cabin Embarked  fare_per_year
305  0.92      1      2   113781  151.5500  C22 C26        S     164.728261
297  2.00      1      2   113781  151.5500  C22 C26        S      75.775000
386  1.00      5      2  CA 2144   46.9000      NaN        S      46.900000
164  1.00      4      1  3101295   39.6875      NaN        S      39.687500
183  1.00      2      1   230136   39.0000       F4        S      39.000000

In [ ]:
result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result.head(5))

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [ ]:
dataframe['fare_per_class'] = dataframe['Fare'] / dataframe['Pclass']
dataframe['fare_per_class'] = dataframe['fare_per_class'].fillna(0)
print(dataframe.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  fare_per_year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   fare_per_class
0        2.416667
1       71.283300
2        2.641667
3       53.100000
4        2.683333

In [ ]:
adult_males = dataframe[(dataframe['Sex'] == 'male') & (dataframe['Age'] >= 18)]
print(adult_males.head(5))

    PassengerId  Survived  Pclass                            Name   Sex   Age  \
0             1         0       3         Braund, Mr. Owen Harris  male  22.0
4             5         0       3        Allen, Mr. William Henry  male  35.0
5             6         0       3                Moran, Mr. James  male  28.0
6             7         0       1         McCarthy, Mr. Timothy J  male  54.0
12           13         0       3  Saundercock, Mr. William Henry  male  20.0

    SibSp  Parch     Ticket     Fare Cabin Embarked  fare_per_year  \
0       1      0  A/5 21171   7.2500   NaN        S       0.329545
4       0      0     373450   8.0500   NaN        S       0.230000
5       0      0     330877   8.4583   NaN        Q       0.302082
6       0      0      17463  51.8625   E46        S       0.960417
12      0      0  A/5. 2151   8.0500   NaN        S       0.402500

    fare_per_class
0         2.416667
4         2.683333
5         2.819433
6        51.862500
12        2.683333

In [ ]:
adult_male_srt = adult_males.sort_values(by='fare_per_class',ascending=False)
print(adult_male_srt.head(5))

     PassengerId  Survived  Pclass                                Name   Sex  \
737          738         1       1              Lesurer, Mr. Gustave J  male
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez  male
438          439         0       1                   Fortune, Mr. Mark  male
27            28         0       1      Fortune, Mr. Charles Alexander  male
118          119         0       1            Baxter, Mr. Quigg Edmond  male

      Age  SibSp  Parch    Ticket      Fare        Cabin Embarked  \
737  35.0      0      0  PC 17755  512.3292         B101        C
679  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
438  64.0      1      4     19950  263.0000  C23 C25 C27        S
27   19.0      3      2     19950  263.0000  C23 C25 C27        S
118  24.0      0      1  PC 17558  247.5208      B58 B60        C

     fare_per_year  fare_per_class
737      14.637977        512.3292
679      14.231367        512.3292
438       4.109375        263.0000
27       13.842105        263.0000
118      10.313367        247.5208

In [ ]:
result = dataframe[['Name','Age', 'fare_per_class']]
print(result.head(5))

                                                Name   Age  fare_per_class
0                            Braund, Mr. Owen Harris  22.0        2.416667
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0       71.283300
2                             Heikkinen, Miss. Laina  26.0        2.641667
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0       53.100000
4                           Allen, Mr. William Henry  35.0        2.683333

In [ ]:
total_fare = dataframe['Fare'].sum()
print(total_fare)

28693.9493

In [ ]:
first_class = dataframe[dataframe['Pclass'] == 1]
first_class_fare = first_class['Fare'].sum()
print(first_class_fare)

18177.4125

In [ ]:
second_class = dataframe[dataframe['Pclass'] == 2]
second_class_fare = second_class['Fare'].sum()
third_class = dataframe[dataframe['Pclass']==3]
third_class_fare = third_class['Fare'].sum()
print(second_class_fare)
print(third_class_fare)

3801.8417
6714.6951

In [ ]:
fare_totals = [first_class_fare, second_class_fare, third_class_fare]
print(fare_totals)

[18177.4125, 3801.8417, 6714.6951]

In [ ]:
overall_Total = dataframe['Fare'].sum()
revenue_first_class = first_class_fare / overall_Total
revenue_second_class = second_class_fare / overall_Total
revenue_third_class = third_class_fare / overall_Total
overall_revenue = [revenue_first_class, revenue_second_class, revenue_third_class]
print(overall_revenue)

[0.6334928771899656, 0.1324962855496507, 0.23401083726038366]

In [ ]:
def catAge(age):
    if age <18:
      return 'child'
    elif age >=18 and age <65:
      return 'adult'
    else:
      return 'senior'
dataframe['age_cat'] = dataframe['Age'].apply(catAge)
print(dataframe.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  fare_per_year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   fare_per_class age_cat
0        2.416667   adult
1       71.283300   adult
2        2.641667   adult
3       53.100000   adult
4        2.683333   adult

In [ ]:
totalPassenger = len(dataframe)
print(totalPassenger)

891

In [ ]:
Child = dataframe[dataframe['age_cat'] == 'child']
child_count = len(Child)

Adult = dataframe[dataframe['age_cat'] == 'adult']
adult_count = len(Adult)

senior = dataframe[dataframe['age_cat'] == 'senior']
senior_count = len(senior)

print(child_count)
print(adult_count)
print(senior_count)

113
767
11

In [ ]:
def categorize_age(age):
    if age < 18:
        return 'child'
    elif 18 <= age < 65:
        return 'adult'
    elif age >= 65:
        return 'senior'

dataframe ['age_group'] = dataframe['Age'].apply(categorize_age)
age_group_count = dataframe['age_group'].value_counts()
total_passenger = len(dataframe)
proportion = (age_group_count / total_passenger) * 100

print("In percentage: ", proportion)

In percentage:  age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64